<h1> Shopping Cart </h1>
<% @cart_products.each do |item| %>
  <div class= "container">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Image</th>
        <th scope="col">Availability</th>
        <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= item.product.name  %></td>
          <td><%= item.product.price %></td>
          <td><%= item.quantity %></td>
          <td><%= image_tag(item.product.photos[0], width: 70, height: 70) %></td>
          <td><% if item.product.quantity > 0 %>
                <h6 style="color:MediumSeaGreen;">In Stock</h6>
              <% else %> 
                <h6 style="color:Tomato;">Out of Stock</h6>
              <% end %></th>
          <td><%= item.total %></td>
          <td><a><%= link_to "Buy Now", new_order_path(quantity:item.quantity, product_id:item.product_id, cart_id:item.id), class:'btn btn-primary' %></a>
              <a><%= link_to "Remove item",  cart_product_path(item), class:'btn btn-secondary', data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  } %></a>
          </td> 
        </tr>    
      </tbody>
    </table>
  </div>
<% end %>
<% if @cart_products.present? %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    select a address
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% @addresses.each do |address| %>
        <li><%= link_to address.address_line, batch_orders_path(cart_id: @cart.id, address:address),  :class => 'dropdown-item' %><li>
      <% end %>
    </ul>
  </div>  
<% end %>
