<h1> Shopping Cart </h1>
<% @cart_products.each do |item| %>
  <div class= "container">
    <table class="table">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Image</th>
        <th scope="col">Availability</th>
        <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><%= item.product.name  %></td>
          <td>Rs.<%= item.product.price %></td>
          <td>
            <input type="number" remote: true id="quantity" min='1' max="<% item.product.quantity%>" onchange="qtyUpdate(this.value, <%= item.id %>, <% item.product.quantity%>)" value='<%= item.quantity %>'   />
          </td>
          <td><%= image_tag(item.product.photos[0], width: 70, height: 70) %></td>
          <td><% if item.product.quantity > 0 %>
                <h6 style="color:MediumSeaGreen;">In Stock</h6>
              <% else %> 
                <h6 style="color:Tomato;">Out of Stock</h6>
              <% end %></th>
          <td>Rs.<%= item.total %></td>
            <td><%= link_to "Remove item",  cart_product_path(item), class:'btn btn-secondary', data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  } %></a>
          </td> 
        </tr>    
      </tbody>
    </table>
  </div>
<% end %>
<% if @cart_products.present? %>
  <div><%= link_to "Checkout", new_order_path(cart_id: @cart.id, batch_order?:true),  :class => 'btn btn-primary' %><div>
    </ul>
  </div>  
<% end %>

<script type="text/javascript">
  function qtyUpdate(qty, cart_id, product_qty){
    $.ajax({
    type: "patch",
    headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
    url: "cart_products/"+ cart_id,
    data: { qty: qty},
    dataType: "json",

    success: function(result){
        alert(result.d);
        console.log(result);
    }
  });
  }
</script>
