<h1>Product detail page</h1>
<h2><%= @product.name %> </h2>
<div class="container">
  <div class="card" style="width: 50rem;">
    <div class="card-img-top" >
      <% if @product.photos.attached? %>
        <%= image_tag @product.photos[0], size: "260x180", class: "img-circular" %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="card-title">
      <h5> <%= @product.name %> </h5></div>
      <p class="card-text"> <%= @product.price %></p>
      <p class="card-text">  <%= @product.description %></p>
      <a><%= link_to "Buy Now", new_order_path(product_id:@product.id), class:'btn btn-primary' if @product.quantity > 0 %></a>
      <a><%= link_to "Add to cart", new_cart_product_path(product_id:@product.id), class:'btn btn-primary', data: { bs_toggle: 'modal', bs_target: '#addToCartModal', remote: true } %></a>
      <% if is_admin? %>
        <li><%= link_to "Edit", edit_product_path(@product) %></li>
        <li><%= link_to "Destroy", product_path(@product), data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  } %></li>
      <% end %>
    </div>
  </div></br>
<div class= "container">
  <% if @product.photos.attached? %>
    <% @product.photos.each do |photo| %>
      </br><%= image_tag photo, width: 1000, height: 700 %></br>
    <% end %>
  <% end %>
</div> 

<% if user_signed_in? %>
  <!-- Modal -->
  <%= render 'cart_products/add_to_cart_modal' %>
<% end %>